# Visual Studio Code
.vscode/

# Visual Studio
.vs/
bin/
obj/

# Rider
.idea/
*.sln.iml

# Build results
*.dll
*.exe
*.pdb
*.zip
*.tar.gz
*.rar
*.nupkg
*.snk
*.log

# User-specific files
*.user
*.suo
*.cache
*.userprefs
*.bak
*.vspscc
*.orig

# Build directories
[Bb]in/
[Oo]bj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core SDK
**/bin/
**/obj/

# Visual Studio Code directories
.vscode/

# Visual Studio directories
.vs/
/bin/
/obj/

# Packages
*.nuget.props
*.nuget.targets


ApiDesc.md
